//-Header.pug

html
    img#headImg.img-rounded(src='../images/p3logo.png')
    hr
    #header
        nav.nav-pills.nav-fill.rounded
            ul.nav
                li.nav-item.nav-link.active
                    a.navLinks(href='/')
                        |Home
                li.nav-item.nav-link.active
                    a.navLinks(href='/Gallery')
                        |Gallery
                li.nav-item.nav-link.active
                    a.navLinks(href='/Blog')
                        |My Blog
                li.nav-item.nav-link.active
                    a.navLinks(href='/Custom')
                        |Custom Request Form
                li.nav-item.nav-link.active
                    a.navLinks(href='/Contact')
                        |Contact