//- Gallery page

extends layout
block content
    .container
        h4 Hats
        .row
            .col 
                img(src='../images/yvescreativestudiopics/pink_on_pink_hat.jpg').imgs 
            .col
                img(src='../images/yvescreativestudiopics/allPinkHat.jpg').imgs
            .col 
                img(src='../images/yvescreativestudiopics/jamaicanHatandScarf.jpg').imgs 
        h4 Scarves
        .row
            .col
                img(src='../images/yvescreativestudiopics/All Black Scarf.jpg').imgs
            .col 
                img(src='../images/yvescreativestudiopics/Deep Red Scarf II.jpg').imgs
            .col
                img(src='../images/yvescreativestudiopics/black_grey_scarf.jpg').imgs
            .col
                img(src='../images/yvescreativestudiopics/Red, Black & Green Scarf II.jpg').imgs
            .col
                img(src='../images/yvescreativestudiopics/Royal Blue Scarf.jpg').imgs
            .col
                img(src='../images/yvescreativestudiopics/Striped Scarf III.jpg').imgs
        h4 Shawls 
        .row
            .col
                img(src='../images/yvescreativestudiopics/Purple & Gold Shawl.jpg').imgs
            .col
                img(src='../images/yvescreativestudiopics/Forest Green Shawl IV.jpg').imgs
            .col 
                img(src='../images/yvescreativestudiopics/Striped Scarf III.jpg').imgs
            .col 
                img(src='../images/yvescreativestudiopics/IMG_0040.jpg').imgs 
            .col 
                img(src='../images/yvescreativestudiopics/IMG_0036.jpg').imgs
            .col
                img(src='../images/yvescreativestudiopics/IMG_0086.jpg').imgs
        