//- Saved custom requests

extends layout
block content
    h4 Your custom request has been received! Someone will contact you to confirm the details of your custom request. 
    h6 
        a(href='/Custom') Back 