body.container
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.navLinks
  color: whitesmoke 

li.nav-item.nav-link.active
  background-color #660080
  color whitesmoke 

li.nav-item.nav-link.active:hover
  color whitesmoke 
  background-color: lighten(#660080, 5%)

/** End of Header Page */
   
#signature
  float right 

#headImg
  width: 100%
  height: 250px

#profileImg
  height 200px
  width 200px

#homeCarousel
  height 400px
  width 300px

#carouselSection
  align: center

.carouselImg
  height 450px
  width 400px  

/** End of Home Page */

#displayAllPosts
  background-color: lighten(#660080, 90%)
  border-radius: 10px
  padding: 10px

#blogname
  text-align: center

#blogdescription
  text-align: justify

/** End of Blog page */

#displayMsg
  color: red 

#logout
  float: right

.list-group-item
  background-color: #660080
  color: whitesmoke 

/** End of Admin page */

#socmedicons
  float: right 

.btns
  background-color: #660080
  color: whitesmoke

#address
  text-align: justify
  float: right 

.jqImgs:hover 
  transform:rotate(-45deg)

/** End of contact page */


.imgs
  height 300px
  width 200px 
  border-radius: 5px
/** End of Gallery page */

#footer
  background-color #660080
  color whitesmoke 
  text-align: center

